.background{
    background-image: url(F:/Milagros/Documents/Proyectos/portafolio/technology-ga2a863b7d_1920.jpg);
    background-repeat: no-repeat;
}

.title{
    font-family: 'Staatliches', cursive;
    background-color: #2C2B2B;
    color: white;
    font-size: 1.2em;
    padding: 3px;
    text-align: center;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color:white
}

a:hover{
    text-decoration: none;
    color:white
}

a:link{
    text-decoration: none;
    color:white
}

li{
    display: inline;
    margin: 0 15px 0 10px;
}

.name{
    backdrop-filter: blur(4px);
    padding: 30px;
    margin: 250px;
    color:#F0E4E4;
    text-align: center;
    font-family: 'Glory', sans-serif;
}

.about{
    background-color: #373535;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-family: 'Mohave', sans-serif;
    font-size: 1.2em;
    padding: 280px;
    margin: 25px 0 25px 0;
}

.education{
    background-color: #373535;
    color: white;
    border-radius: 5px;
    font-family: 'Mohave', sans-serif;
    font-size: 1.2em;
    padding: 50px;
    margin: 25px 0 25px 0;
    text-align: center;
}

h1{
    font-size: 1.5em;
    text-align: center;
}

.education-list{
    font-size: 1em;
}

.skills{
    size: 90px;
    height: 90px;
}
.contact{
    text-align: center;
}

img{
    size: 50px;
    height: 50px;
}



