.background{
    background-image: url(https://cdn.pixabay.com/photo/2015/05/26/23/52/technology-785742_960_720.jpg);
    background-repeat: no-repeat;
    background-size: 1900px;
    
}

.title{
    font-family: 'Staatliches', cursive;
    background-color: #2C2B2B;
    color: white;
    font-size: 1.4em;
    padding: 3px;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color:white
}

a:hover{
    text-decoration: none;
    color:#D4C8FC;
    transform: scale(4.1);
}

a:link{
    text-decoration: none;
    color:white
}

li{
    display: inline;
    margin: 0 15px 0 10px;
}

.name{
    backdrop-filter: blur(4px);
    padding: 30px;
    margin: 250px;
    color:#F0E4E4;
    text-align: center;
    font-family: 'Glory', sans-serif;
}

.about{
    background: linear-gradient(35deg, #CCFFFF, #9C82F6);
    
    color: white;
    border-radius: 8px;
    text-align: center;
    font-family: 'Mohave', sans-serif;
    font-size: 1.2em;
    padding: 280px;
    margin: 25px 0 25px 0;
}

.education{
    background-color: #373535;
    color: white;
    border-radius: 8px;
    font-family: 'Mohave', sans-serif;
    font-size: 1.2em;
    padding: 50px;
    margin: 25px 0 25px 0;
    text-align: center;
}

h1{
    font-size: 1.5em;
    text-align: center;
}

.education-list-left{
    font-size: 1em;
    float: left;
    
}

.education-list-right{
    font-size: 1em;
    float: right;
    
}

.skills{
    size: 90px;
    height: 90px;
}

.project{
    background-color: #373535;
    color: white;
    border-radius: 8px;
    font-family: 'Mohave', sans-serif;
    font-size: 1.2em;
    padding: 50px;
    margin: 25px 0 25px 0;
    text-align: center;

}

.contact{
    text-align: center;
}

img{
    size: 50px;
    height: 50px;
}

img:hover{
    transform: scale(1.2);
}



